<h1 class="border-bottom">
  Meus vídeos
</h1>

<div class="row">
  <% @videos.each do |video| %>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <%= image_tag("#{video.thumbnail}", class: "card-img-top") %>
        <div class="card-body text-center">
          <p class="card-text bold h5"><%= video.title %></p>
          <%= link_to video, data: { turbolinks: false } do %>
            <button type="button" class="btn btn-secondary">Ver</button>
          <% end %>
          <%= link_to edit_video_path(video) do %>
            <button type="button" class="btn btn-secondary">Editar</button>
          <% end %>
          <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button type="button" class="btn btn-secondary">Excluir</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to new_video_path do %>
  <button type="button" class="btn btn-primary btn-lg btn-block">Novo vídeo</button>
<% end %>



















