<h1 class="border-bottom">
  <%= @video.title %>
</h1>

<span class="badge badge-pill badge-primary", id= "view_count"><%= @video.view_count %> visualizações</span>

<div class="d-none", id="video-id", value= "<%= params[:id] %>" ></div>

<video id='my-video' class='video-js' controls preload='auto' width='640' height='300'
  poster='<%= @video.thumbnail %>' data-setup='{}'>
  <source
     src="<%= @video.url %>"
     type='application/x-mpegURL'>
</video>